html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  /* background: #c1e6f1;
  color: #ffffff; */
  /* height: 100%; */
  /* width: 100%; */
  font-family: "Montserrat", sans-serif;
  /* font-size: 1.25em; */
}

#container {
  background-color: aqua;
  border-style: solid;
  border-radius: 5px;
  max-width: 500px;
}
